PG_HOST='localhost'
PG_PORT=5432
PG_USER='jobi'
PG_PASSWORD='*******'
PG_DB='mydatabase'


SECRET_KEY='*******'
ALGORITHM='HS256'
ACCESS_TOKEN_EXPIRE_HOURS=24


# EMAIL
EMAIL_HOST_NAME='smtp.gmail.com'
EMAIL_HOST_PORT=587
EMAIL_HOST_ACCOUNT='abc@mail.com'
EMAIL_HOST_PASSWORD='*******'

REDIS_URL="localhost-address"
EXPIRE_OTP_SECONDS=60